<a href="https://colab.research.google.com/github/Cintia0528/Data-Cleaning-and-Analysis-with-Python/blob/Colab-Files/4_0_Shopping_Cart_and_Cancelled.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

# Import Cleaned Merged Data

In [ ]:
url = "https://drive.google.com/file/d/1GbYumeXs6gSfQmD67_nCmzW9_YDZRPEb/view?usp=sharing"
path = "https://drive.google.com/uc?export=download&id="+url.split("/")[-2]
merged_df = pd.read_csv(path)

# Apply DateTimes

In [ ]:
merged_df["date"] = pd.to_datetime(merged_df["date"])

In [ ]:
merged_df["year"] = merged_df["date"].dt.year
merged_df["quarter"] = merged_df["date"].dt.quarter
merged_df["month"] = merged_df["date"].dt.month
merged_df["day_name"] = merged_df["date"].dt.day_name()

In [ ]:
merged_df.sort_values(by="order_id")

,orderlines_id,order_id,product_quantity,sku,unit_price,date,order_cost,state,name,desc,item_base_price,in_stock,type,short,long,year,quarter,month,day_name
934,1121139,241319,1,JBL0123,44.99,2017-01-02 13:35:40,44.99,Cancelled,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017.0,1.0,1.0,Monday
13387,1153623,241355,2,WAC0171,67.99,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
123214,1398738,241423,1,LAC0212,129.16,2017-11-06 13:10:02,136.15,Completed,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017.0,4.0,11.0,Monday
173452,1529178,242832,1,PAR0074,10.77,2017-12-31 17:40:03,15.76,Completed,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017.0,4.0,12.0,Sunday
26117,1181923,243330,1,OWC0074,77.99,2017-02-16 10:59:38,84.98,Completed,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017.0,1.0,2.0,Thursday
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
216773,1650198,527397,1,JBL0122,42.99,2018-03-14 13:56:38,42.99,Place Order,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018.0,1.0,3.0,Wednesday
216774,1650199,527398,1,JBL0122,42.99,2018-03-14 13:57:25,42.99,Shopping Basket,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018.0,1.0,3.0,Wednesday
216775,1650200,527399,1,PAC0653,141.58,2018-03-14 13:57:34,141.58,Shopping Basket,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018.0,1.0,3.0,Wednesday
216776,1650201,527400,2,APP0698,9.99,2018-03-14 13:57:41,19.98,Shopping Basket,Apple Lightning Cable Connector to USB 1m Whit...,Apple Lightning USB Cable 1 meter to charge an...,25.0,1.0,1230,APP,Apple,2018.0,1.0,3.0,Wednesday
216778,1650203,527401,1,APP0927,13.99,2018-03-14 13:58:36,18.98,Place Order,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018.0,1.0,3.0,Wednesday

# Explore Merged DataFrame

In [ ]:
merged_df.shape[0]

216779

In [ ]:
merged_df.shape[1]

19

In [ ]:
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 216779 entries, 0 to 216778
Data columns (total 19 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   orderlines_id     216779 non-null  int64
 1   order_id          216779 non-null  int64
 2   product_quantity  216779 non-null  int64
 3   sku               216779 non-null  object
 4   unit_price        216779 non-null  float64
 5   date              216585 non-null  datetime64[ns]
 6   order_cost        216585 non-null  float64
 7   state             216585 non-null  object
 8   name              109209 non-null  object
 9   desc              109206 non-null  object
 10  item_base_price   109209 non-null  float64
 11  in_stock          109209 non-null  float64
 12  type              109209 non-null  object
 13  short             107172 non-null  object
 14  long              107172 non-null  object
 15  year              216585 non-null  float64
 16  quarter           216585 non-null  float64
 17  month             216585 non-null  float64
 18  day_name          216585 non-null  object
dtypes: datetime64[ns](1), float64(7), int64(3), object(8)
memory usage: 31.4+ MB

In [ ]:
merged_df.describe()

,orderlines_id,order_id,product_quantity,unit_price,order_cost,item_base_price,in_stock,year,quarter,month
count,2.167790e+05,216779.000000,216779.000000,216779.000000,216585.000000,109209.000000,109209.000000,216585.000000,216585.000000,216585.000000
mean,1.372853e+06,409121.115168,1.136397,166.424676,279.900162,179.143057,0.565384,2017.198707,2.371771,6.035215
std,1.518174e+05,65916.279853,3.288194,222.664421,605.239051,281.742170,0.495709,0.399028,1.278686,4.072910
min,1.119109e+06,241319.000000,1.000000,-119.000000,0.000000,2.990000,0.000000,2017.000000,1.000000,1.000000
25%,1.241120e+06,351981.500000,1.000000,29.740000,48.740000,29.950000,0.000000,2017.000000,1.000000,2.000000
50%,1.367506e+06,406775.000000,1.000000,69.990000,124.990000,59.000000,1.000000,2017.000000,2.000000,6.000000
75%,1.504348e+06,466027.500000,1.000000,185.990000,368.990000,129.990000,1.000000,2017.000000,4.000000,10.000000
max,1.650203e+06,527401.000000,999.000000,999.990000,99648.100000,7179.000000,1.000000,2018.000000,4.000000,12.000000

In [ ]:
merged_df = merged_df.drop_duplicates()
merged_df

,orderlines_id,order_id,product_quantity,sku,unit_price,date,order_cost,state,name,desc,item_base_price,in_stock,type,short,long,year,quarter,month,day_name
0,1119109,299539,1,OTT0133,18.99,2017-01-01 00:07:19,18.99,Shopping Basket,Otterbox iPhone Case Symmetry 2.0 SE / 5s / 5 ...,resistant cover and thin beveled edges for iPh...,34.99,0.0,11865403,OTT,Otterbox,2017.0,1.0,1.0,Sunday
1,1119110,299540,1,LGE0043,399.00,2017-01-01 00:19:45,399.00,Shopping Basket,"27UD58-B LG Monitor 27 ""4K UHD DisplayPort",Monitor for gamers and multimedia professional...,429.00,0.0,1296,LGE,LG,2017.0,1.0,1.0,Sunday
2,1119111,299541,1,PAR0071,474.05,2017-01-01 00:20:57,474.05,Shopping Basket,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017.0,1.0,1.0,Sunday
3,1119112,299542,1,WDT0315,68.39,2017-01-01 00:51:40,68.39,Shopping Basket,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017.0,1.0,1.0,Sunday
4,1119113,299543,1,JBL0104,23.74,2017-01-01 01:06:38,23.74,Shopping Basket,Gray Bluetooth Speaker JBL GO,Compact Bluetooth Handsfree for iPhone iPad an...,29.90,1.0,5398,JBL,JBL,2017.0,1.0,1.0,Sunday
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
216774,1650199,527398,1,JBL0122,42.99,2018-03-14 13:57:25,42.99,Shopping Basket,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018.0,1.0,3.0,Wednesday
216775,1650200,527399,1,PAC0653,141.58,2018-03-14 13:57:34,141.58,Shopping Basket,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018.0,1.0,3.0,Wednesday
216776,1650201,527400,2,APP0698,9.99,2018-03-14 13:57:41,19.98,Shopping Basket,Apple Lightning Cable Connector to USB 1m Whit...,Apple Lightning USB Cable 1 meter to charge an...,25.00,1.0,1230,APP,Apple,2018.0,1.0,3.0,Wednesday
216777,1650202,527388,1,BEZ0204,19.99,2018-03-14 13:51:59,34.98,Shopping Basket,"Be.ez LArobe Case Mix Macbook 12 ""Green",Macbook thin sheath 12 inches.,29.99,0.0,13835403,BEZ,Be.ez,2018.0,1.0,3.0,Wednesday
216778,1650203,527401,1,APP0927,13.99,2018-03-14 13:58:36,18.98,Place Order,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018.0,1.0,3.0,Wednesday

## Explore State

In [ ]:
order = ['Shopping Basket', 'Place Order', 'Pending', 'Completed', 'Cancelled']
result = merged_df.groupby("state")[["orderlines_id"]].count()
result = result.reindex(order)
result
# half of all interactions in the database are in the shopping basket, but not checked out - grow conversion rate?

                 orderlines_id
state
Shopping Basket         108117
Place Order              27571
Pending                  17090
Completed                56714
Cancelled                 6565

### Create a sub-DF for each status to compare them

In [ ]:
shopping_basket = merged_df.loc[merged_df["state"] == "Shopping Basket",:]
place_order = merged_df.loc[merged_df["state"] == "Place Order",:]
pending = merged_df.loc[merged_df["state"] == "Pending",:]
completed = merged_df.loc[merged_df["state"] == "Completed",:]
cancelled = merged_df.loc[merged_df["state"] == "Cancelled",:]

In [ ]:
merged_df.describe()

,orderlines_id,order_id,product_quantity,unit_price,order_cost,item_base_price,in_stock,year,quarter,month
count,2.162500e+05,216250.000000,216250.000000,216250.000000,216057.000000,108680.000000,108680.000000,216057.000000,216057.000000,216057.000000
mean,1.372496e+06,408967.391727,1.136698,164.636160,278.240773,175.002235,0.563324,2017.198022,2.371532,6.033977
std,1.517563e+05,65892.054168,3.292203,219.630604,604.864049,275.406081,0.495976,0.398510,1.278162,4.070875
min,1.119109e+06,241319.000000,1.000000,-119.000000,0.000000,2.990000,0.000000,2017.000000,1.000000,1.000000
25%,1.240903e+06,351866.250000,1.000000,29.740000,48.040000,29.950000,0.000000,2017.000000,1.000000,2.000000
50%,1.366966e+06,406548.500000,1.000000,69.990000,124.970000,59.000000,1.000000,2017.000000,2.000000,6.000000
75%,1.503947e+06,465795.500000,1.000000,184.580000,367.320000,129.990000,1.000000,2017.000000,4.000000,10.000000
max,1.650203e+06,527401.000000,999.000000,999.990000,99648.100000,7179.000000,1.000000,2018.000000,4.000000,12.000000

In [ ]:
shopping_basket.describe()

,orderlines_id,order_id,product_quantity,unit_price,order_cost,item_base_price,in_stock,year,quarter,month
count,1.081170e+05,108117.000000,108117.000000,108117.000000,108117.000000,54297.000000,54297.000000,108117.000000,108117.000000,108117.000000
mean,1.377738e+06,411579.188583,1.150439,169.851925,307.260441,188.632929,0.539588,2017.212372,2.358168,6.005476
std,1.529135e+05,66165.877496,3.897143,226.115303,787.121039,294.561536,0.498435,0.408988,1.277646,4.064645
min,1.119109e+06,299539.000000,1.000000,0.000000,0.000000,2.990000,0.000000,2017.000000,1.000000,1.000000
25%,1.244850e+06,354226.000000,1.000000,29.900000,42.990000,29.990000,0.000000,2017.000000,1.000000,2.000000
50%,1.372059e+06,409411.000000,1.000000,69.990000,126.340000,59.000000,1.000000,2017.000000,2.000000,6.000000
75%,1.510167e+06,468939.000000,1.000000,192.790000,399.000000,149.000000,1.000000,2017.000000,4.000000,10.000000
max,1.650202e+06,527400.000000,999.000000,999.990000,99648.100000,7179.000000,1.000000,2018.000000,4.000000,12.000000

In [ ]:
completed.describe()

,orderlines_id,order_id,product_quantity,unit_price,order_cost,item_base_price,in_stock,year,quarter,month
count,5.671400e+04,56714.000000,56714.000000,56714.000000,56714.000000,28889.000000,28889.000000,56714.000000,56714.000000,56714.000000
mean,1.383512e+06,413464.506453,1.127887,135.123175,226.105327,128.211333,0.607602,2017.209067,2.475614,6.250661
std,1.511402e+05,65682.961105,0.805153,180.420545,285.118887,209.589282,0.488293,0.406646,1.296046,4.208621
min,1.119116e+06,241423.000000,1.000000,0.000000,0.000000,2.990000,0.000000,2017.000000,1.000000,1.000000
25%,1.261856e+06,361497.500000,1.000000,26.990000,54.470000,29.000000,0.000000,2017.000000,1.000000,2.000000
50%,1.387088e+06,415926.500000,1.000000,64.830000,116.980000,49.990000,1.000000,2017.000000,3.000000,7.000000
75%,1.511592e+06,469249.250000,1.000000,154.000000,295.560000,99.990000,1.000000,2017.000000,4.000000,11.000000
max,1.649593e+06,527112.000000,72.000000,999.990000,6876.940000,1499.000000,1.000000,2018.000000,4.000000,12.000000

In [ ]:
cancelled.describe()

,orderlines_id,order_id,product_quantity,unit_price,order_cost,item_base_price,in_stock,year,quarter,month
count,6.565000e+03,6565.000000,6565.000000,6565.000000,6565.000000,3322.000000,3322.000000,6565.000000,6565.000000,6565.000000
mean,1.365428e+06,406009.604265,1.101904,240.877778,352.712500,284.881315,0.496990,2017.168926,2.443412,6.245545
std,1.450691e+05,63056.439417,0.718946,275.318631,418.383966,343.497183,0.500066,0.374715,1.274021,4.054665
min,1.119220e+06,241319.000000,1.000000,-119.000000,0.000000,4.790000,0.000000,2017.000000,1.000000,1.000000
25%,1.240227e+06,351587.000000,1.000000,35.990000,60.980000,35.000000,0.000000,2017.000000,1.000000,2.000000
50%,1.362349e+06,404352.000000,1.000000,102.810000,192.970000,89.000000,0.000000,2017.000000,2.000000,6.000000
75%,1.491202e+06,460604.000000,1.000000,379.950000,517.990000,529.000000,1.000000,2017.000000,4.000000,11.000000
max,1.650014e+06,527308.000000,26.000000,999.000000,6384.000000,2105.590000,1.000000,2018.000000,4.000000,12.000000

### How many of the most valuable orders are not converted?

In [ ]:
#set new index in order to be able to find the first order that is actually realized based on state
order_value = merged_df.sort_values(by="order_cost",ascending = False)
order_value = order_value.reset_index(drop=True)
order_value

,orderlines_id,order_id,product_quantity,sku,unit_price,date,order_cost,state,name,desc,item_base_price,in_stock,type,short,long,year,quarter,month,day_name
0,1500715,464858,192,APP1662,519.00,2017-12-17 15:53:04,99648.10,Shopping Basket,Apple iPhone 6s 32GB Space Gray,New 32GB iPhone 6S Libre.,529.0,0.0,24821716,APP,Apple,2017.0,4.0,12.0,Sunday
1,1291633,376851,1,SAM0073,90.99,2017-07-13 12:58:52,90989.60,Shopping Basket,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017.0,3.0,7.0,Thursday
2,1260700,361853,99,APP1986,879.00,2017-06-03 00:51:07,87020.97,Shopping Basket,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017.0,2.0,6.0,Saturday
3,1204219,334803,2,STM0090,39.99,2017-03-13 20:41:31,79981.00,Shopping Basket,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017.0,1.0,3.0,Monday
4,1228150,346221,999,APP1190,55.99,2017-04-14 21:50:52,55930.71,Shopping Basket,IPhone AppleCare Protection Plan,Apple Care extended warranty iPhone.,70.0,1.0,1231,APP,Apple,2017.0,2.0,4.0,Friday
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
216245,1600404,257828,3,FIB0011,59.99,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
216246,1615518,273231,1,LGE0068,429.00,NaT,NaN,NaN,"32UD59-B LG Monitor 32 ""DCI-P3 95% DP HDMI 4K",32UD59-B LG Monitor with DisplayPort HDMI 4K r...,499.0,0.0,1296,LGE,LG,NaN,NaN,NaN,NaN
216247,1615520,273231,1,SEA0105,235.78,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
216248,1621177,244328,1,OWC0260,349.00,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
216249,1629247,287797,1,SYN0182,484.11,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### TOP 1000,2500,5000,10000

In [ ]:
top_1000 = order_value[:1001]
top_1000.groupby("state").count()

,orderlines_id,order_id,product_quantity,sku,unit_price,date,order_cost,name,desc,item_base_price,in_stock,type,short,long,year,quarter,month,day_name
state,,,,,,,,,,,,,,,,,,
Cancelled,55,55,55,55,55,55,55,35,35,35,35,35,33,33,55,55,55,55
Completed,109,109,109,109,109,109,109,63,63,63,63,63,61,61,109,109,109,109
Pending,19,19,19,19,19,19,19,0,0,0,0,0,0,0,19,19,19,19
Place Order,91,91,91,91,91,91,91,49,49,49,49,49,48,48,91,91,91,91
Shopping Basket,727,727,727,727,727,727,727,296,296,296,296,296,281,281,727,727,727,727

In [ ]:
top_2500 = order_value[:2501]
top_2500.groupby("state").count()

,orderlines_id,order_id,product_quantity,sku,unit_price,date,order_cost,name,desc,item_base_price,in_stock,type,short,long,year,quarter,month,day_name
state,,,,,,,,,,,,,,,,,,
Cancelled,120,120,120,120,120,120,120,85,85,85,85,85,80,80,120,120,120,120
Completed,354,354,354,354,354,354,354,215,215,215,215,215,211,211,354,354,354,354
Pending,53,53,53,53,53,53,53,26,26,26,26,26,24,24,53,53,53,53
Place Order,308,308,308,308,308,308,308,196,196,196,196,196,195,195,308,308,308,308
Shopping Basket,1666,1666,1666,1666,1666,1666,1666,748,748,748,748,748,715,715,1666,1666,1666,1666

In [ ]:
top_5000 = order_value[:5001]
top_5000.groupby("state").count()

,orderlines_id,order_id,product_quantity,sku,unit_price,date,order_cost,name,desc,item_base_price,in_stock,type,short,long,year,quarter,month,day_name
state,,,,,,,,,,,,,,,,,,
Cancelled,213,213,213,213,213,213,213,129,129,129,129,129,121,121,213,213,213,213
Completed,720,720,720,720,720,720,720,387,387,387,387,387,377,377,720,720,720,720
Pending,167,167,167,167,167,167,167,73,73,73,73,73,71,71,167,167,167,167
Place Order,635,635,635,635,635,635,635,348,348,348,348,348,347,347,635,635,635,635
Shopping Basket,3266,3266,3266,3266,3266,3266,3266,1485,1485,1485,1485,1485,1421,1421,3266,3266,3266,3266

In [ ]:
top_10000 = order_value[:10001]
top_10000.groupby("state").count()

,orderlines_id,order_id,product_quantity,sku,unit_price,date,order_cost,name,desc,item_base_price,in_stock,type,short,long,year,quarter,month,day_name
state,,,,,,,,,,,,,,,,,,
Cancelled,339,339,339,339,339,339,339,226,226,226,226,226,213,213,339,339,339,339
Completed,1340,1340,1340,1340,1340,1340,1340,699,699,699,699,699,685,685,1340,1340,1340,1340
Pending,385,385,385,385,385,385,385,169,169,169,169,169,165,165,385,385,385,385
Place Order,1227,1227,1227,1227,1227,1227,1227,744,744,744,744,744,743,743,1227,1227,1227,1227
Shopping Basket,6710,6710,6710,6710,6710,6710,6710,3568,3568,3568,3568,3568,3491,3491,6710,6710,6710,6710

In [ ]:
top_25000 = order_value[:25001]
top_25000.groupby("state").count()

,orderlines_id,order_id,product_quantity,sku,unit_price,date,order_cost,name,desc,item_base_price,in_stock,type,short,long,year,quarter,month,day_name
state,,,,,,,,,,,,,,,,,,
Cancelled,1133,1133,1133,1133,1133,1133,1133,758,758,758,758,758,699,699,1133,1133,1133,1133
Completed,3706,3706,3706,3706,3706,3706,3706,2031,2031,2031,2031,2031,1887,1887,3706,3706,3706,3706
Pending,1020,1020,1020,1020,1020,1020,1020,505,505,505,505,505,460,460,1020,1020,1020,1020
Place Order,3961,3961,3961,3961,3961,3961,3961,2610,2610,2610,2610,2610,2608,2608,3961,3961,3961,3961
Shopping Basket,15181,15181,15181,15181,15181,15181,15181,8833,8833,8833,8833,8833,8512,8512,15181,15181,15181,15181

In [ ]:
top_50000 = order_value[:50001]
top_50000.groupby("state").count()

,orderlines_id,order_id,product_quantity,sku,unit_price,date,order_cost,name,desc,item_base_price,in_stock,type,short,long,year,quarter,month,day_name
state,,,,,,,,,,,,,,,,,,
Cancelled,2209,2209,2209,2209,2209,2209,2209,1238,1238,1238,1238,1238,1145,1145,2209,2209,2209,2209
Completed,10139,10139,10139,10139,10139,10139,10139,4514,4514,4514,4514,4514,4265,4265,10139,10139,10139,10139
Pending,2710,2710,2710,2710,2710,2710,2710,1121,1121,1121,1121,1121,1049,1049,2710,2710,2710,2710
Place Order,7284,7284,7284,7284,7284,7284,7284,3867,3867,3867,3867,3867,3865,3865,7284,7284,7284,7284
Shopping Basket,27659,27659,27659,27659,27659,27659,27659,14064,14064,14064,14064,14064,13532,13532,27659,27659,27659,27659

In [ ]:
top_50000.describe()

,orderlines_id,order_id,product_quantity,unit_price,order_cost,item_base_price,in_stock,year,quarter,month
count,5.000100e+04,50001.000000,50001.000000,50001.000000,50001.000000,24804.000000,24804.000000,50001.000000,50001.000000,50001.000000
mean,1.401589e+06,421524.140137,1.330133,425.254680,815.207529,499.553084,0.502741,2017.245795,2.444171,6.302394
std,1.482552e+05,64162.583728,6.795554,305.911766,1082.224301,371.590264,0.500003,0.430562,1.298418,4.122766
min,1.119110e+06,246405.000000,1.000000,0.000000,390.330000,3.990000,0.000000,2017.000000,1.000000,1.000000
25%,1.273592e+06,367580.000000,1.000000,109.000000,506.440000,70.000000,0.000000,2017.000000,1.000000,2.000000
50%,1.403029e+06,423998.000000,1.000000,422.990000,719.000000,529.000000,1.000000,2017.000000,2.000000,6.000000
75%,1.527924e+06,477119.000000,1.000000,699.000000,909.000000,809.000000,1.000000,2017.000000,4.000000,11.000000
max,1.650168e+06,527377.000000,999.000000,999.990000,99648.100000,2059.000000,1.000000,2018.000000,4.000000,12.000000

### Are not converted orders "bigger" as in contain more products?

In [ ]:
product_quant_for_all = merged_df.groupby("order_id")[["product_quantity"]].sum()
product_quant_for_all["product_quantity"].mean()

1.444137639310746

In [ ]:
product_quant_for_top_1000 = top_1000.groupby("order_id")[["product_quantity"]].sum()
product_quant_for_top_1000["product_quantity"].mean()

18.68957345971564

In [ ]:
product_quant_for_top_2500 = top_25000.groupby("order_id")[["product_quantity"]].sum()
product_quant_for_top_2500["product_quantity"].mean()

2.565037057183654

In [ ]:
product_quant_for_top_10000 = top_10000.groupby("order_id")[["product_quantity"]].sum()
product_quant_for_top_10000["product_quantity"].mean()

4.712018140589569

In [ ]:
product_quant_for_top_50000 = top_50000.groupby("order_id")[["product_quantity"]].sum()
product_quant_for_top_50000["product_quantity"].mean()

2.0960605105578316

In [ ]:
product_quant_for_cancelled = cancelled.groupby("order_id")[["product_quantity"]].sum()
product_quant_for_cancelled["product_quantity"].mean()

1.3314927296153138

## Explore Discounts

### Percentage of items discounted

In [ ]:
merged_df["state"].value_counts()

Shopping Basket    108117
Completed           56714
Place Order         27571
Pending             17090
Cancelled            6565
Name: state, dtype: int64

In [ ]:
merged_df.loc[(merged_df["state"].isin(["Completed","Place Order","Pending"])) & (merged_df["item_base_price"] > merged_df["unit_price"])]
#46594 are discounted out of 101375 =

In [ ]:
merged_df.loc[merged_df["state"].isin(["Completed","Place Order","Pending"])]

,orderlines_id,order_id,product_quantity,sku,unit_price,date,order_cost,state,name,desc,item_base_price,in_stock,type,short,long,year,quarter,month,day_name
6,1119116,299545,1,OWC0100,47.49,2017-01-01 01:51:47,51.48,Completed,OWC In-line Digital Temperature Sensor Kit HDD...,Kit temperature sensor for HDD iMac 21 inch an...,60.99,1.0,12755395,OWC,OWC,2017.0,1.0,1.0,Sunday
7,1119119,299546,1,IOT0014,18.99,2017-01-01 01:57:34,18.99,Completed,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017.0,1.0,1.0,Sunday
8,1119120,295347,1,APP0700,72.19,2017-01-01 02:02:38,72.19,Completed,Apple 85W MagSafe 2 charger MacBook Pro screen...,Apple MagSafe 2 Charger for MacBook Pro 15-inc...,89.00,1.0,13005399,APP,Apple,2017.0,1.0,1.0,Sunday
14,1119133,299555,1,BEA0065,256.49,2017-01-01 02:18:45,263.48,Place Order,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017.0,1.0,1.0,Sunday
15,1119134,299556,1,CRU0039-A,60.90,2017-01-01 02:30:08,65.89,Completed,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017.0,1.0,1.0,Sunday
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
216769,1650193,527394,1,APP1922,161.00,2018-03-14 13:55:15,161.00,Place Order,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018.0,1.0,3.0,Wednesday
216771,1650195,527396,1,PAC0653,141.58,2018-03-14 13:55:44,141.58,Place Order,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018.0,1.0,3.0,Wednesday
216772,1650196,527384,1,LAC0227,249.99,2018-03-14 13:49:11,249.99,Place Order,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018.0,1.0,3.0,Wednesday
216773,1650198,527397,1,JBL0122,42.99,2018-03-14 13:56:38,42.99,Place Order,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018.0,1.0,3.0,Wednesday
216778,1650203,527401,1,APP0927,13.99,2018-03-14 13:58:36,18.98,Place Order,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018.0,1.0,3.0,Wednesday

# Business Questions from LMS Answered

In [ ]:
merged_df["order_id"].nunique()

170213

In [ ]:
merged_df["orderlines_id"].count()

216250

In [ ]:
merged_df["sku"].nunique()

6798

In [ ]:
merged_df["product_quantity"].mean()

1.1366982658959537

In [ ]:
merged_df.groupby(["year","month"]).count()

              orderlines_id  order_id  product_quantity    sku  unit_price  \
year   month
2017.0 1.0            19587     19587             19587  19587       19587
       2.0            12630     12630             12630  12630       12630
       3.0            10811     10811             10811  10811       10811
       4.0            10076     10076             10076  10076       10076
       5.0             9952      9952              9952   9952        9952
       6.0             9582      9582              9582   9582        9582
       7.0            13845     13845             13845  13845       13845
       8.0            10265     10265             10265  10265       10265
       9.0            11076     11076             11076  11076       11076
       10.0           13365     13365             13365  13365       13365
       11.0           29877     29877             29877  29877       29877
       12.0           22207     22207             22207  22207       22207
2018.0 1.0            21264     21264             21264  21264       21264
       2.0            14477     14477             14477  14477       14477
       3.0             7043      7043              7043   7043        7043

               date  order_cost  state   name   desc  item_base_price  \
year   month
2017.0 1.0    19587       19587  19587   9783   9783             9783
       2.0    12630       12630  12630   6148   6148             6148
       3.0    10811       10811  10811   4910   4910             4910
       4.0    10076       10076  10076   4952   4952             4952
       5.0     9952        9952   9952   4843   4843             4843
       6.0     9582        9582   9582   4422   4422             4422
       7.0    13845       13845  13845   7063   7063             7063
       8.0    10265       10265  10265   4825   4825             4825
       9.0    11076       11076  11076   5469   5469             5469
       10.0   13365       13365  13365   6371   6371             6371
       11.0   29877       29877  29877  15418  15418            15418
       12.0   22207       22207  22207  11295  11295            11295
2018.0 1.0    21264       21264  21264  11800  11797            11800
       2.0    14477       14477  14477   7725   7725             7725
       3.0     7043        7043   7043   3572   3572             3572

              in_stock   type  short   long  quarter  day_name
year   month
2017.0 1.0        9783   9783   9767   9767    19587     19587
       2.0        6148   6148   6131   6131    12630     12630
       3.0        4910   4910   4880   4880    10811     10811
       4.0        4952   4952   4925   4925    10076     10076
       5.0        4843   4843   4730   4730     9952      9952
       6.0        4422   4422   4350   4350     9582      9582
       7.0        7063   7063   6844   6844    13845     13845
       8.0        4825   4825   4702   4702    10265     10265
       9.0        5469   5469   5254   5254    11076     11076
       10.0       6371   6371   6239   6239    13365     13365
       11.0      15418  15418  15072  15072    29877     29877
       12.0      11295  11295  11005  11005    22207     22207
2018.0 1.0       11800  11800  11600  11600    21264     21264
       2.0        7725   7725   7536   7536    14477     14477
       3.0        3572   3572   3524   3524     7043      7043

In [ ]:
merged_df.loc[merged_df["state"] == "Completed",:].nunique()

orderlines_id       56714
order_id            43064
product_quantity       27
sku                  5400
unit_price           4929
date                42981
order_cost          10714
state                   1
name                 2523
desc                 1895
item_base_price       393
in_stock                2
type                   85
short                 121
long                  119
year                    2
quarter                 4
month                  12
day_name                7
dtype: int64

,orderlines_id,order_id,product_quantity,sku,unit_price,date,order_cost,state,name,desc,item_base_price,in_stock,type,short,long,year,quarter,month,day_name
0,1119109,299539,1,OTT0133,18.99,2017-01-01 00:07:19,18.99,Shopping Basket,Otterbox iPhone Case Symmetry 2.0 SE / 5s / 5 ...,resistant cover and thin beveled edges for iPh...,34.99,0.0,11865403,OTT,Otterbox,2017.0,1.0,1.0,Sunday
1,1119110,299540,1,LGE0043,399.00,2017-01-01 00:19:45,399.00,Shopping Basket,"27UD58-B LG Monitor 27 ""4K UHD DisplayPort",Monitor for gamers and multimedia professional...,429.00,0.0,1296,LGE,LG,2017.0,1.0,1.0,Sunday
2,1119111,299541,1,PAR0071,474.05,2017-01-01 00:20:57,474.05,Shopping Basket,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017.0,1.0,1.0,Sunday
3,1119112,299542,1,WDT0315,68.39,2017-01-01 00:51:40,68.39,Shopping Basket,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017.0,1.0,1.0,Sunday
4,1119113,299543,1,JBL0104,23.74,2017-01-01 01:06:38,23.74,Shopping Basket,Gray Bluetooth Speaker JBL GO,Compact Bluetooth Handsfree for iPhone iPad an...,29.90,1.0,5398,JBL,JBL,2017.0,1.0,1.0,Sunday
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
216774,1650199,527398,1,JBL0122,42.99,2018-03-14 13:57:25,42.99,Shopping Basket,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018.0,1.0,3.0,Wednesday
216775,1650200,527399,1,PAC0653,141.58,2018-03-14 13:57:34,141.58,Shopping Basket,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018.0,1.0,3.0,Wednesday
216776,1650201,527400,2,APP0698,9.99,2018-03-14 13:57:41,19.98,Shopping Basket,Apple Lightning Cable Connector to USB 1m Whit...,Apple Lightning USB Cable 1 meter to charge an...,25.00,1.0,1230,APP,Apple,2018.0,1.0,3.0,Wednesday
216777,1650202,527388,1,BEZ0204,19.99,2018-03-14 13:51:59,34.98,Shopping Basket,"Be.ez LArobe Case Mix Macbook 12 ""Green",Macbook thin sheath 12 inches.,29.99,0.0,13835403,BEZ,Be.ez,2018.0,1.0,3.0,Wednesday
216778,1650203,527401,1,APP0927,13.99,2018-03-14 13:58:36,18.98,Place Order,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018.0,1.0,3.0,Wednesday

In [ ]:
url = "https://drive.google.com/file/d/18X5s0QKY4ylp_AsnhB1HH_4H5TSC1Bwd/view?usp=sharing"
path = "https://drive.google.com/uc?export=download&id="+url.split("/")[-2]
orders = pd.read_csv(path)

In [ ]:
orders

       order_id         created_date  total_paid      state
0        241423  2017-11-06 13:10:02      136.15  Completed
1        242832  2017-12-31 17:40:03       15.76  Completed
2        243330  2017-02-16 10:59:38       84.98  Completed
3        245275  2017-06-28 11:35:37      149.00  Completed
4        245595  2017-01-21 12:52:47      112.97  Completed
...         ...                  ...         ...        ...
40980    527042  2018-03-14 11:47:50       18.98  Completed
40981    527070  2018-03-14 11:50:48       24.97  Completed
40982    527074  2018-03-14 11:51:42       24.97  Completed
40983    527096  2018-03-14 11:58:40       34.96  Completed
40984    527112  2018-03-14 12:03:52       14.98  Completed

[40985 rows x 4 columns]

In [ ]:
merged_df.loc[(merged_df["short"] != "APP") & (merged_df["state"].isin(["Completed","Place Order","Pending"]))]
# Apple products were present in 14402 sales vs. 86973 other brands = 16.5%

,orderlines_id,order_id,product_quantity,sku,unit_price,date,order_cost,state,name,desc,item_base_price,in_stock,type,short,long,year,quarter,month,day_name
6,1119116,299545,1,OWC0100,47.49,2017-01-01 01:51:47,51.48,Completed,OWC In-line Digital Temperature Sensor Kit HDD...,Kit temperature sensor for HDD iMac 21 inch an...,60.99,1.0,12755395,OWC,OWC,2017.0,1.0,1.0,Sunday
7,1119119,299546,1,IOT0014,18.99,2017-01-01 01:57:34,18.99,Completed,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017.0,1.0,1.0,Sunday
14,1119133,299555,1,BEA0065,256.49,2017-01-01 02:18:45,263.48,Place Order,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017.0,1.0,1.0,Sunday
15,1119134,299556,1,CRU0039-A,60.90,2017-01-01 02:30:08,65.89,Completed,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017.0,1.0,1.0,Sunday
21,1119145,299561,1,PEB0015,142.49,2017-01-01 02:39:47,154.48,Completed,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017.0,1.0,1.0,Sunday
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
216769,1650193,527394,1,APP1922,161.00,2018-03-14 13:55:15,161.00,Place Order,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018.0,1.0,3.0,Wednesday
216771,1650195,527396,1,PAC0653,141.58,2018-03-14 13:55:44,141.58,Place Order,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018.0,1.0,3.0,Wednesday
216772,1650196,527384,1,LAC0227,249.99,2018-03-14 13:49:11,249.99,Place Order,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018.0,1.0,3.0,Wednesday
216773,1650198,527397,1,JBL0122,42.99,2018-03-14 13:56:38,42.99,Place Order,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018.0,1.0,3.0,Wednesday
216778,1650203,527401,1,APP0927,13.99,2018-03-14 13:58:36,18.98,Place Order,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018.0,1.0,3.0,Wednesday

In [ ]:
url = "https://drive.google.com/file/d/1L269vIiXZZM3Ax3PrZeSAHCgtHlO2_Pe/view?usp=sharing"
path = "https://drive.google.com/uc?export=download&id="+url.split("/")[-2]
products = pd.read_csv(path)

url = "https://drive.google.com/file/d/1iUpzctag5WHr8GOMiHXkhbov9gGQMdGV/view?usp=sharing"
path = "https://drive.google.com/uc?export=download&id="+url.split("/")[-2]
brands = pd.read_csv(path)

In [ ]:
products['letters'] = products['sku'].str.extract(r'([a-zA-Z]{3})')
products

,sku,name,desc,price,in_stock,type,letters
0,RAI0007,Silver Rain Design mStand Support,Aluminum support compatible with all MacBook,59.99,1,8696,RAI
1,APP0023,Apple Mac Keyboard Keypad Spanish,USB ultrathin keyboard Apple Mac Spanish.,59.00,0,13855401,APP
2,APP0025,Mighty Mouse Apple Mouse for Mac,mouse Apple USB cable.,59.00,0,1387,APP
3,APP0072,Apple Dock to USB Cable iPhone and iPod white,IPhone dock and USB Cable Apple iPod.,25.00,0,1230,APP
4,KIN0007,Mac Memory Kingston 2GB 667MHz DDR2 SO-DIMM,2GB RAM Mac mini and iMac (2006/07) MacBook Pr...,34.99,1,1364,KIN
...,...,...,...,...,...,...,...
9987,BEL0376,Belkin Travel Support Apple Watch Black,compact and portable stand vertically or horiz...,29.99,1,12282,BEL
9988,THU0060,"Enroute Thule 14L Backpack MacBook 13 ""Black",Backpack with capacity of 14 liter compartment...,69.95,1,1392,THU
9989,THU0061,"Enroute Thule 14L Backpack MacBook 13 ""Blue",Backpack with capacity of 14 liter compartment...,69.95,1,1392,THU
9990,THU0062,"Enroute Thule 14L Backpack MacBook 13 ""Red",Backpack with capacity of 14 liter compartment...,69.95,0,1392,THU
9991,THU0063,"Enroute Thule 14L Backpack MacBook 13 ""Green",Backpack with capacity of 14 liter compartment...,69.95,1,1392,THU

In [ ]:
prbr_df = products.merge(brands, how="left", left_on="letters",right_on="short")
# 1721 APP brand products out of the 9992 in the catalog = 17.2%

,sku,name,desc,price,in_stock,type,letters,short,long
0,RAI0007,Silver Rain Design mStand Support,Aluminum support compatible with all MacBook,59.99,1,8696,RAI,RAI,Rain Design
1,APP0023,Apple Mac Keyboard Keypad Spanish,USB ultrathin keyboard Apple Mac Spanish.,59.00,0,13855401,APP,APP,Apple
2,APP0025,Mighty Mouse Apple Mouse for Mac,mouse Apple USB cable.,59.00,0,1387,APP,APP,Apple
3,APP0072,Apple Dock to USB Cable iPhone and iPod white,IPhone dock and USB Cable Apple iPod.,25.00,0,1230,APP,APP,Apple
4,KIN0007,Mac Memory Kingston 2GB 667MHz DDR2 SO-DIMM,2GB RAM Mac mini and iMac (2006/07) MacBook Pr...,34.99,1,1364,KIN,KIN,Kingston
...,...,...,...,...,...,...,...,...,...
9987,BEL0376,Belkin Travel Support Apple Watch Black,compact and portable stand vertically or horiz...,29.99,1,12282,BEL,BEL,Belkin
9988,THU0060,"Enroute Thule 14L Backpack MacBook 13 ""Black",Backpack with capacity of 14 liter compartment...,69.95,1,1392,THU,THU,Thule
9989,THU0061,"Enroute Thule 14L Backpack MacBook 13 ""Blue",Backpack with capacity of 14 liter compartment...,69.95,1,1392,THU,THU,Thule
9990,THU0062,"Enroute Thule 14L Backpack MacBook 13 ""Red",Backpack with capacity of 14 liter compartment...,69.95,0,1392,THU,THU,Thule
9991,THU0063,"Enroute Thule 14L Backpack MacBook 13 ""Green",Backpack with capacity of 14 liter compartment...,69.95,1,1392,THU,THU,Thule

# Categories by Type

In [ ]:
apple_electronics = ["1280","1282","1714","1716","2158","11821715","12031714","12051714","12141714","13621714","21561716","21622158","21632158","24811716","24821716","24861714","42931714","51601716","51861714","51871714","51882158","51902158","51912158","79201715","85641716","85651716","106431714","113271716","113281716","113291716","113851714","118692158","1,02E+12","2,16E+11","2,17E+11","5,39E+11","5,43E+15","5,44E+11","5,45E+15","5,72E+15","5,74E+15","9,29E+11"]
all_accessories = ["1216","1392", "1229", "1296","1298","1387","2425","2434","2449","5401","5403","540510142","10230","11434","11859","11865403","12085400","12575403","12635403","13555403","13835403","13855401","14035403","24215399","54025401","54864259","5,49E+11"]
smart_gadgets = ["5185","4259","11905404","15435404","24885185","24895185"]
apps_licenses_services = ["1416","113464259"]
home_repair = ["5406","5407","12645406","14305406","21485407","21535407","54085407","101781405","1,44E+11"]
batteries_ports_cables_adapters = ["1230","1231","1276","1325","1334","1515","5720","8696","9094","12282","12285400","12355400","12585395","12995397","13005399","13615399","13955395","14365395"]
video_audio_graphic_design =["1375","1404","1405","1424","5384","5395","5398","5399","5404"]
memory_expansion = ["1364","1433","11935397","12175397","12215397","12655397","12755395","20642062","42945397","57445397"]